[Unit]
 Description=My LCD Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/bin/sleep 20
 ExecStart=/bin/sh -c '/home/ender/KLIPPER_E3S1_LCD/run.sh'

 [Install]
 WantedBy=multi-user.target
